*{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    text-transform: capitalize;
}
#Outer{
    font-size: 25px;
}
#Inner{
    font-size: 10px;
}
#AC{
    font-family: League spartan;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: teal double underline;
    text-transform: uppercase;
}