<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is my home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque sint repellendus incidunt a dolores eligendi autem omnis quis asperiores, optio exercitationem, aspernatur vitae mollitia, assumenda quasi iusto laborum ut expedita.</p>
    <button>Click me</button>
    <ul>
        <li><%="Asjad".toUpperCase() %> </li>
        <li><%=["Asjad", "Khan"] [1] %> </li>
        <li>Khan Asjad</li>
        <li>Khan Asjad Shamshad Ahmed</li>
    </ul>
</body>
</html>