<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>  Instagram  </h1>
    <h3>You are at <b><%= username %></b>  Instagram page</h3> 
    <button> Follow</button>  
    <button>Message</button>

    <h2>list of Follower</h2>
    <% for(let name of follower){ %>
        <li><%= name %></li>
    <% } %>
</body>
</html>