<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roller Dice</title>
</head>
<body>
    <h1>
        Dice Gave value: <%= random  %>
        <% if(random == 6) { %>
            <h2>Hurray!! You got 6  & let's your friend try</h2>
        <% } %>
    </h1>
</body>
</html>