<%- include("includes/head.ejs") %>

<body>
    <h1>
        Dice Gave value: <%= random  %>
        <% if(random == 6) { %>
            <h2>Hurray!! You got 6  & let's your friend try</h2>
        <% } %>
    </h1>

    <%- include("includes/fotter.ejs") %>
</body>
</html>